<a href="https://colab.research.google.com/github/Abhedya19/Internship-Project/blob/master/Internship_project_py.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:

#Importing all required libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt  #Graphical representation of data and model fitting
import seaborn as sns #Graphical representation of data and model fitting

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [5]:
#Reading file and displaying data
customer_info=pd.read_excel("Bank_Personal_Loan_Modelling.xlsx",sheet_name='Data')  #reading the data in the excel sheet as a pandas Dataframe
print(customer_info)

        ID  Age  Experience  ...  CD Account  Online  CreditCard
0        1   25           1  ...           0       0           0
1        2   45          19  ...           0       0           0
2        3   39          15  ...           0       0           0
3        4   35           9  ...           0       0           0
4        5   35           8  ...           0       0           1
...    ...  ...         ...  ...         ...     ...         ...
4995  4996   29           3  ...           0       1           0
4996  4997   30           4  ...           0       1           0
4997  4998   63          39  ...           0       0           0
4998  4999   65          40  ...           0       1           0
4999  5000   28           4  ...           0       1           1

[5000 rows x 14 columns]

In [7]:
#description of the dataframe
customer_info.info()    #displaying number of rows and columns,name and datatype of each column 
                        #and total memory space occupied by dataframe

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 14 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   ID                  5000 non-null   int64
 1   Age                 5000 non-null   int64
 2   Experience          5000 non-null   int64
 3   Income              5000 non-null   int64
 4   ZIP Code            5000 non-null   int64
 5   Family              5000 non-null   int64
 6   CCAvg               5000 non-null   float64
 7   Education           5000 non-null   int64
 8   Mortgage            5000 non-null   int64
 9   Personal Loan       5000 non-null   int64
 10  Securities Account  5000 non-null   int64
 11  CD Account          5000 non-null   int64
 12  Online              5000 non-null   int64
 13  CreditCard          5000 non-null   int64
dtypes: float64(1), int64(13)
memory usage: 547.0 KB

In [8]:
#statistical analysis of each column
customer_info.describe()  # mean,standard deviation,interquartile range and range of values in each column

                ID          Age  ...       Online   CreditCard
count  5000.000000  5000.000000  ...  5000.000000  5000.000000
mean   2500.500000    45.338400  ...     0.596800     0.294000
std    1443.520003    11.463166  ...     0.490589     0.455637
min       1.000000    23.000000  ...     0.000000     0.000000
25%    1250.750000    35.000000  ...     0.000000     0.000000
50%    2500.500000    45.000000  ...     1.000000     0.000000
75%    3750.250000    55.000000  ...     1.000000     1.000000
max    5000.000000    67.000000  ...     1.000000     1.000000

[8 rows x 14 columns]

In [13]:
#Checking for null values in DataFrame
customer_info.isnull().sum()

ID                    0
Age                   0
Experience            0
Income                0
ZIP Code              0
Family                0
CCAvg                 0
Education             0
Mortgage              0
Personal Loan         0
Securities Account    0
CD Account            0
Online                0
CreditCard            0
dtype: int64

From the result provided above , it is clear that no column has any null values . Thus,data imputation is not required.

Step 2:Preprocessing and cleaning of data

After looking at a description of different columns , we decide to drop ID and ZIP Code

In [14]:
#Dropping Irrelevant Columns
customer_info.drop(['ID','ZIP Code'],axis=1)

      Age  Experience  Income  ...  CD Account  Online  CreditCard
0      25           1      49  ...           0       0           0
1      45          19      34  ...           0       0           0
2      39          15      11  ...           0       0           0
3      35           9     100  ...           0       0           0
4      35           8      45  ...           0       0           1
...   ...         ...     ...  ...         ...     ...         ...
4995   29           3      40  ...           0       1           0
4996   30           4      15  ...           0       1           0
4997   63          39      24  ...           0       0           0
4998   65          40      49  ...           0       1           0
4999   28           4      83  ...           0       1           1

[5000 rows x 12 columns]

In [18]:
#Checking for correlation using a heatmap
required_cols=sns.load_dataset("customer_info")
ax=sns.heatmap(required_cols)

HTTPError: ignored